/* Base animation for the particles */
@keyframes particle-anim {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(0);
    opacity: 0;
  }
}

.particles-container .particle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: particle-anim 20s infinite;
}

/* Glitch Effect */
@keyframes glitch-anim {
  0% {
    clip-path: inset(48% 0 35% 0);
  }
  10% {
    clip-path: inset(55% 0 11% 0);
  }
  20% {
    clip-path: inset(86% 0 4% 0);
  }
  30% {
    clip-path: inset(18% 0 48% 0);
  }
  40% {
    clip-path: inset(74% 0 17% 0);
  }
  50% {
    clip-path: inset(51% 0 25% 0);
  }
  60% {
    clip-path: inset(34% 0 54% 0);
  }
  70% {
    clip-path: inset(21% 0 23% 0);
  }
  80% {
    clip-path: inset(33% 0 47% 0);
  }
  90% {
    clip-path: inset(57% 0 33% 0);
  }
  100% {
    clip-path: inset(12% 0 61% 0);
  }
}

.glitch-effect {
  position: relative;
}

.glitch-effect::before,
.glitch-effect::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

.glitch-effect::before {
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip-path: inset(48% 0 35% 0);
}

.glitch-effect::after {
  left: -2px;
  text-shadow: 2px 0 #00fff9;
  clip-path: inset(55% 0 11% 0);
}